<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <h2 th:text="'【' + ${partnerUser.nickname} + 'さん】とのダイレクトメッセージ'"></h2>
    <section class="chat-container">
      <div th:each="msg : ${dmList}">
        <!-- 自分が送信したメッセージ -->
        <div th:if="${msg.senderUser.id == currentUser.id}" class="chat-bubble left">
          <img th:src="@{${msg.senderUser.avatar}}" class="chat-avatar" alt="自分アイコン">
          <div>
            <div class="chat-user-name" th:text="${msg.senderUser.nickname}">あなた</div>
            <div class="chat-message" th:text="${msg.text}"></div>
            <div class="chat-date" th:text="${#dates.format(msg.sentAt, 'yyyy/MM/dd HH:mm')}"></div>
          </div>
        </div>
        <!-- 相手が送信したメッセージ -->
        <div th:if="${msg.senderUser.id != currentUser.id}" class="chat-bubble right">
          <div>
            <div class="chat-user-name" th:text="${msg.senderUser.nickname}"></div>
            <div class="chat-message" th:text="${msg.text}"></div>
            <div class="chat-date" th:text="${#dates.format(msg.sentAt, 'yyyy/MM/dd HH:mm')}"></div>
          </div>
          <img th:src="@{${msg.senderUser.avatar}}" class="chat-avatar" alt="相手アイコン">
        </div>
      </div>
    </section>

    <div class="prototype__comments">
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <div th:if="${errorMessages}">
          <ul>
            <li th:each="error : ${errorMessages}" th:text="${error.defaultMessage}"></li>
          </ul>
        </div>
        <form id="form" th:action="@{/messages/{userId}(userId=${partnerUser.id})}" method="post" th:object="${messageForm}">
          <textarea id="text" th:field="*{text}" placeholder="メッセージを入力" rows="2"></textarea>

          <input type="submit" value="SEND" id="send">
        </form>
      </div>
  </div>
</main>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>