<div th:fragment="commentItemFragment">
  <div class="comment-item" th:attr="id=${'comment-' + comment.id}">
    <div class="comment-content">
      <strong class="comment-user">
        <a th:href="@{/users/{userId}(userId=${comment.user.id})}" th:text="${comment.user.nickname}"></a>
      </strong>
      <span class="comment-text" th:text="${comment.text}"></span>
      <div th:if="${comment.image != null}" class="comment-image-wrapper">
        <img th:src="@{${comment.image}}" alt="コメント画像" class="comment-image">
      </div>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id or #authentication?.principal.getId() == comment.user.id}" class="comment-actions">
      <form class="edit-comment-form"
      th:attr="data-comment-id=${comment.id}" style="display:inline">
        <button type="button" class="comment-edit">編集する</button>
      </form>
      <form class="delete-comment-form"
      th:attr="data-comment-id=${comment.id}, data-prototype-id=${prototypeId}" style="display:inline;">
        <button type="button" class="comment-delete">削除する</button>
      </form>
    </div>
  </div>
</div>
