<div th:fragment="commentItemFragment">
  <div class="one_line">
    <p>
      <strong>
        <a th:href="@{/users/{userId}(userId=${comment.user.id})}" th:text="${comment.user.nickname}"></a>
      </strong>
      <span th:text="${comment.text}"></span>
    </p>
    <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id or #authentication?.principal.getId() == comment.user.id}">
      <form th:action="@{'/prototype/' + ${prototypeId} + '/comments/' + ${comment.id} + '/delete'}" method="post" style="display:inline;">
        <button type="submit" class="comment_delete">削除する</button>
      </form>
    </div>
  </div>
</div>
