<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <div class="user_wrapper">
      <h2 class="heading" th:text="${user.nickname} + 'さんの情報'">OOOさんの情報</h2>
      <a th:href="@{/users/{userId}/edit(userId=${user.id})}">ユーザー編集</a>
      <table class="table">
        <tbody>
          <tr>
            <th class="table_column1">名前</th>
            <td class="table_column2" th:text="${user.nickname}">OOO</td>
          </tr>
          <tr>
            <th class="table_column1">プロフィール</th>
            <td class="table_column2" th:text="${user.profile}">OOO</td>
          </tr>
          <tr>
            <th class="table_column1">所属</th>
            <td class="table_column2" th:text="${user.affiliation}">OOO</td>
          </tr>
          <tr>
            <th class="table_column1">役職</th>
            <td class="table_column2" th:text="${user.position}">OOO</td>
          </tr>
        </tbody>
      </table>
      <h2 class="heading" th:text="${user.nickname} + 'さんのプロトタイプ'">OOOさんのプロトタイプ</h2>
      <div class="user__card">
          <div th:each="prototype : ${prototypes}" class="card">
            <a th:href="@{/prototype/{prototypeId}(prototypeId=${prototype.id})}">
              <img class="card__img" th:src="@{${prototype.image}}">
            </a>
            <div class="card__body">
              <a class="card__title" th:href="@{/prototypes/{prototypeId}(prototypeId=${prototype.id})}" th:text="${prototype.name}">title</a>
              <p class="card__summary" th:text="${prototype.slogan}">summary</p>
              <a class="card__user" th:href="@{/users/{userId}(userId=${user.id})}" th:text="'by ' + ${user.nickname}">by username</a>
              <div class="card__like">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                  <form th:action="@{/prototype/{prototypeId}/like-from-u-detail(prototypeId=${prototype.id})}" method="post" style="display:inline;">
                    <button type="submit" class="like-btn">♥</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>