<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <div class="form_cover">
      <h2 class="heading">ユーザー編集画面</h2>
      <br>
      <br>

      <form th:action="@{/users/{userId}/update(userId=${userId})}" method="post" th:object="${userForm}" enctype="multipart/form-data">
        <div th:if="${errorMessages != null}">
          <ul>
            <li th:each="msg : ${errorMessages}" th:text="${msg}" style="color:red"></li>
          </ul>
        </div>
        <div class="form_field">
          <label for="email">メールアドレス</label>
          <br>
          <input type="email" id="email" name="email" th:field="*{email}" class="userprimaryinfo" placeholder="xxx@protospace.com">

        </div>
        <div class="form_field">
          <label for="password">パスワード (6文字以上)</label>
          <br>
          <input type="password" id="password" name="password" th:field="*{password}" class="userprimaryinfo" placeholder="パスワードを入力してください。">
        </div>

         <div class="form_field">
          <label for="passwordConfirmation">パスワード（確認用）</label>
          <br>
          <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="userprimaryinfo" th:field="*{passwordConfirmation}" placeholder="パスワードを入力してください。">
        </div>
       
        <div class="form_field">
          <label for="nickname">ユーザー名</label>
          <br>
          <input type="text" id="nickname" name="nickname" th:field="*{nickname}" class="userprimaryinfo" placeholder="ユーザー名を入力してください。">
        </div>

        <div class="form_field">
          <label for="profile">プロフィール</label>
          <br>
          <textarea class="text_form" id="profile" name="profile" th:field="*{profile}"></textarea>
        </div>

        <div class="form_field">
          <label for="affiliation">所属</label>
          <br>
          <textarea class="text_form" id="affiliation" name="affiliation" th:field="*{affiliation}"></textarea>
        </div>

        <div class="form_field">
          <label for="position">役職</label>
          <br>
          <textarea class="text_form" id="position" name="position" th:field="*{position}"></textarea>
        </div>

        <div class="user-icon-preview-area">
          <div class="icon-block">
            <h2>現在のアイコン</h2>
            <img th:src="@{${user.avatar}}" alt="現在のアイコン" class="user-icon-preview">
          </div>
          <div class="icon-block">
            <h2>アップロード画像</h2>
            <img id="preview-avatar" src="" alt="アップロード画像" class="user-icon-preview" style="display:none;">
          </div>
        </div>

        <div class="field">
          <label for="prototype_image">アイコンの画像</label><br>
          <input type="file" id="avatar" th:field="*{avatar}">
        </div>

        <div class="action">
          <input class="form_btn" type="submit" value="更新"/>
        </div>
      </form>
    </div>
  </div>
</main>

<script src="/js/avatar_preview.js"></script>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>