<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>
<main class="main">
  <div class="inner">
    <!-- attach the link which jumps to user detail page below-->
    <div class="greeting">こんにちは、<a th:href="@{#}" th:text="${#}">OOさん!</a><div>
    <div class="card__wrapper">
      <div class="card">
        <div th:each="prototype : ${prototypes}">
          <!-- attach the link which jumps to prototype detail page below -->
          <a th:href="@{#}"><img class="card__img" th:src="${prototype.image}"></a>
          <div class="card__body">
            <!-- attach the link which jumps to prototype detail page below -->
            <a class="card__title" th:href="@{#}" th:text="${prototype.slogan}">title</a>
            <p class="card__summary" th:text="${prototype.concept}">concept</p>
            <!-- attach the link which jumps to user detail page below-->
            <a class="card__user" th:href="@{#}" th:text="by + ${prototype.name}">by username</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>