<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="banner">
    <div class="banner-title">Welcome to Protospace!</div>
    <div class="banner-subtitle">Share your PROTOTYPE</div>
</div>
<main class="main">
  <div class="inner">
    <div class="greeting" th:if="${#authorization.expression('isAuthenticated()')}">こんにちは、<a th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.nickname} + さん！">OOさん!</a></div>
    <div class="card__wrapper">
      <div class="card" th:each="prototype : ${prototypes}">
          <!-- attach the link which jumps to prototype detail page below -->
          <a th:href="@{/prototypes/{prototypeId}(prototypeId=${prototype.id})}"><img class="card__img" th:src="${prototype.image}"></a>
          <div class="card__body">
            <!-- attach the link which jumps to prototype detail page below -->
            <a class="card__title" th:href="@{/prototypes/{prototypeId}(prototypeId=${prototype.id})}" th:text="${prototype.slogan}">title</a>
            <p class="card__summary" th:text="${prototype.concept}">concept</p>
            <a class="card__user" th:href="@{/users/{userId}(userId=${prototype.user.id})}" th:text="by + ${prototype.user.nickname}">by username</a>
          </div>
      </div>
    </div>
  </div>
</main>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>