<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">title</p>
      <a class="prototype__user" th:href="@{/users/{userId}(userId=${user.id})}">by username</a>
        <div class="prototype__manage">
          <a class="prototype__btn" th:href="@{/prototype}">編集する</a>
          <a class="prototype__btn" rel="nofollow" data-method="delete" th:post="delete" th:href="@{/prototype/{prototypeId}/delete(prototypeId=${prototype.id})}">削除する</a>
        </div>
      <div class="prototype__image">
        <!-- 仮の画像 -->
        <img src="https://protospace2020.herokuapp.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcFlGIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2c27aa56b46c6199c052f227548c55dc61ca87ea/tacos.jpg">
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">content of slogan</p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">content of slogan</p>
        </div>
      </div>
      <div class="prototype__comments">
        <form action="/prototypes/1402/comments" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="so+chS5oqh4nXzrItp0a0dSh5LOQaQ3emf8ab5psrp2Tad8Bx2wU+AC5ZJP7LtqHjbF/2yQOm0d8CuPY14CteQ==" autocomplete="off">
          <div class="field">
            <label for="comment_content">コメント</label>
            <br>
            <input type="text" name="comment[content]" id="comment_content">
          </div>
          <div class="action">
            <input type="submit" name="commit" value="送信する" class="form__btn" data-disable-with="送信する">
          </div>
        </form>
        <ul class="comments_lists">
        </ul>
      </div>
    </div>
  </div>
</main>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>