<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <!-- <script th:src="@{/js/comment.js}"></script> -->
  <script th:src="@{/js/like_button.js}" defer></script>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding"th:text="${prototype.name}">title</p>
      <!-- <a class="prototype__user" th:href="@{/users/{userId}(userId=${prototype.user.id})}"
      th:text="'by: ' + ${prototype.user.nickname}"></a> -->
      <a class="prototype__user" th:href="@{/users/{userId}(userId=${prototype.user.id})}">
        <img class="card__user-icon" th:src="@{${prototype.user.avatar}}" >
        <span th:text="'by ' + ${prototype.user.nickname}">by username</span>
      </a>
      <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id}">
        <div class="prototype__manage">
          <a class="prototype__btn" th:href="@{/prototype/{prototypeId}/edit(prototypeId=${prototype.id})}">編集する</a>
          <button
            type="button"
            class="prototype__btn delete-btn"
            th:attr="data-action=@{/prototype/{prototypeId}/delete(prototypeId=${prototype.id})}"
          >削除する</button>
        </div>
      </div>
      <div class="prototype__image">
        <img th:src="@{${prototype.image}}" alt="プロトタイプ画像">
      </div>
      <div class="prototype__like">
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="prototype_detail_btn">
                <button type="button"
                        class="like-btn"
                        th:attr="data-prototype-id=${prototype.id}"
                        th:data-action="@{/prototype/{prototypeId}/like-from-p-detail(prototypeId=${prototype.id})}"
                        th:classappend="${likedIds != null and likedIds.contains(prototype.id)} ? 'liked' : ''">
                          <img th:src="@{${likedIds != null and likedIds.contains(prototype.id)} ? '/images/like_btn_liked.png' : '/images/like_btn.png'}"
                                alt="いいね"
                                class="heart-icon" />
                          <span th:text="${prototype.likeCount}" class="like-count">0</span>
                </button>
        </div>
        <div th:if="${#authorization.expression('!isAuthenticated()')}" class="prototype_detail_btn">
          <button class="like-btn" disabled>
            <img th:src="@{/images/like_btn.png}" alt="いいね" class="heart-icon" />
            <span th:text="${prototype.likeCount}">0</span>
          </button>
        </div>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message" th:text="${prototype.slogan}"></p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message" th:text="${prototype.concept}"></p>
        </div>
      </div>

      <!-- <div class="prototype__comments">
        <form th:action="@{/prototypes/{prototypeId}/comment(prototypeId=${prototype.id})}" th:object="${commentForm}" method="post" accept-charset="UTF-8">
         <input type="hidden" name="authenticity_token" value="so+chS5oqh4nXzrItp0a0dSh5LOQaQ3emf8ab5psrp2Tad8Bx2wU+AC5ZJP7LtqHjbF/2yQOm0d8CuPY14CteQ==" autocomplete="off">
          <div class="field">
            <label for="comment_content">コメント</label>
            <br>
            <input type="text" th:field="*{text}" id="comment_content">
          </div>
          <div class="action">
            <input type="submit" name="commit" value="送信する" class="form__btn" data-disable-with="送信する">
          </div>
        </form>
        <ul class="comments_lists">
        </ul>
      </div> -->

      <div class="prototype__comments">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <div th:if="${errorMessages}">
            <ul>
              <li th:each="error : ${errorMessages}" th:text="${error.defaultMessage}"></li>
            </ul>
          </div>
          <form id="form" th:action="@{/prototypes/{prototypeId}/comment(prototypeId=${prototype.id})}" method="post" th:object="${commentForm}">
            <textarea id="text" th:field="*{text}" placeholder="コメントする" rows="2"></textarea>
            <input type="submit" value="SEND" id="send">
          </form>
        </div>
      
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
          <strong>
            <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
          </strong>
        </div>
        
        <div class="comments">
          <h4>＜コメント一覧＞</h4>
          <div th:each="comment : ${comments}">
            <div class="one_line">
              <p>
                <strong>
                  <a th:href="@{/users/{userId}(userId=${comment.user.id})}" th:text="${comment.user.nickname}"></a>
                </strong>
                <span th:text="${comment.text}"></span>
              </p>
              <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id or #authentication?.principal.getId() == comment.user.id}">
                <form th:action="@{'/prototype/' + ${prototypeId} + '/comments/' + ${comment.id} + '/delete'}" method="post" style="display:inline;">
                  <button type="submit" class="comment_delete">削除する</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</main>

<div id="modal-mask"></div>
<div id="delete-modal">
  <p>本当に削除しますか？</p>
  <button id="cancel-delete">キャンセル</button>
  <button id="confirm-delete">削除</button>
</div>
<script src="/js/delete_popup.js"></script>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>