<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
        <form enctype="multipart/form-data" th:action="@{/prototype/{prototypeId}/update(prototypeId=${prototypeId})}" accept-charset="UTF-8" th:method="post" th:object="${prototypeForm}">
          <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
            <div th:text="${error}"></div>
          </div>

          <div class="field">
            <label for="prototype_name">プロトタイプの名称</label><br>
            <input type="text" id="prototype_name" th:field="*{name}" required>
          </div>

          <div class="field">
            <label for="prototype_slogan">キャッチコピー</label><br>
            <textarea class="form__text" id="prototype_slogan" th:field="*{slogan}" required></textarea>
          </div>

          <div class="field">
            <label for="prototype_concept">コンセプト</label><br>
            <textarea class="form__text" id="prototype_concept" th:field="*{concept}" required></textarea>
          </div>

          <div class="field">
            <label for="prototype_genre">ジャンル選択</label><br>
            <select id="prototype_genre" th:field="*{genreId}" required>
              <option th:each="genre : ${genres}" 
                      th:value="${genre.id}" 
                      th:text="${genre.genreName}">
              </option>
            </select>
          </div>

          <div class="field">
            <label for="prototype_image">プロトタイプの画像</label><br>
            <input type="file" id="prototype_image" th:field="*{image}" required>
          </div>

          <div class="actions">
            <input type="submit" name="commit" value="保存する" class="form__btn" data-disable-with="保存する">
          </div>
        </form>
    </div>
  </div>
</main>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>